/* debut Connection du proprietraire  */

.divi {

    background-image: url('../images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.tes1{
    background-color: gray;
}

.tes{
    background-color: green;
}
.nomlogo{
    font-family: Arial Black;
    font-size: 90%;
    text-decoration: blink;
}

.desclogo{
    text-align: center;
    font-family: 'popins';
    font-size: 90%;
}

.imglogo{
    width: 10%;
    height: 9%;
}

.img1{
    width: 100%;
    height: 90%;
}
.text1{
    text-align: center;
    font-style: italic;
    font-size: 80%;
}
.text2{
    text-align: center !important; 
    font-weight: bold;
    font-size: 135%;
    text-decoration: underline;
}
.foot{
    color: orange;
}
.hr{
    background-color: orange;
    color: orange;
}

.cnte1{
    margin-top: 100px;
}



/* fin Connection du proprietraire  */

/* debut Connection de l'employer  */
.cnte2{
    margin-top: 30px;
}
.marg1{
    margin-top: 20px;
}

.img2{
    width: 90%;
    height: 80%;
}



.img3{
    margin-top: -80px;
    width: 100%;
    height: 90%;
}